
<style>
  .product-count-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .btn-count-action{
    padding: 0.4rem 0.6rem;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
  }
  .quantity-input{
    width: 30px;
    text-align: center;
    border: 1px solid black;
  }
  .messagediv{
    position: absolute;
    background-color: rgb(22, 21, 21);
    color: white;
    text-align: center;
    width: fit-content;
    padding: 1rem 4rem;
    
  }
</style>
<!--================Cart Area =================-->
<% if(products.length > 0) {%> 
<section class="cart_area mt-5">
  <div class="container">
    <div class="cart_inner" id="cartinner">
      <div class="table-responsive" id="tableresponsive">
        <table class="table">
          <thead>
           

            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody> 
            <% products.forEach(item=> {%>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <a href="/product/<%= item.productid._id%>">
                      <img src="/products/images/<%= item.productid.images[0] %>" alt="" />
                    </a>
                  </div>
                  <div class="media-body">
                    <p><%= item.productid.gender %></p>
                    <p><%= item.productid.product_name %></p>
                    <% const qty = item.productid.stock_available - item.quantity %>
                    <% if(qty <= 0) {%> 
                        <button class="genric-btn danger circle">Out of stock</button>
                    <% } %>
                  </div>
                </div>
              </td>
              <td>
                <div class="price">
                  <ul>
                    <% if(item.productid.discount_in_percentage) {%> 
                      <li class="ft-1">Rs.<%= Math.round(item.productid.price - (item.productid.price * item.productid.discount_in_percentage / 100)) %> MRP Rs.
                          <span class="mrp"><%= item.productid.price%></span><span class="discount">(<%= item.productid.discount_in_percentage%>% OFF)</span>
                      </li>
                      <% }else {%>
                      <li class="ft-1">Rs. <%= item.productid.price%></li>    
                      <% } %> 
                        
                  </ul>
              </div>
              </td>
              <td>
                  <div class="product-count-div">
                  
                    <button class="btn-count-action btn-decrement" 
                    onclick="decProduct(event,'<%= item.productid._id%>')"> <i class="ti-minus"></i></button>
                    <input type="text" class="quantity-input" id="<%= item.productid._id%>" value="<%= item.quantity%>">
                    <button class="btn-count-action"
                    onclick="incProduct(event, '<%= item.productid._id%>')"> <i class="ti-plus"></i></button>
                  </div>
              </td> 
              <td>
                <button class="genric-btn danger circle" onclick="removeProduct(event, '<%= item.productid._id%>')">Remove</button>
              </td>
            </tr>
            <% }) %>
           
            <tr>
              <td></td>
              <td>Total price :</td>
              <td></td>
              <td id="actualprice"><%= actualprice%></td>
            </tr>
            <% if(totaldiscount) {%> 
            <tr>
              <td></td>
              <td>Total discount  :</td>
              <td></td>
              <td id="totaldiscount"><%= totaldiscount%> -</td>
            </tr>
            <% } %>
            <tr>
              <td></td>
              <td>Shipping Charge :</td>
              <td></td>
              <td id="shipping_charge"><%= shipping_charge%> +</td>
            </tr>
            <tr>
              <td></td>
              <td>Grand total  :</td>
              <td></td>
              <td id="totalprice"><%= totalprice%></td>
            </tr>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="#">Continue Shopping</a>
          <% if(isAllAvailable === true) {%> 
            <a class="btn_1 checkout_btn_1" href="/user/checkout">Proceed to checkout</a>
          <% } else {%> 
          <button class="btn_1 checkout_btn_1 " onclick="isAllAvailable()">Proceed to checkout</button>
          <% } %>
        </div>
      </div>
    </div>
</section>
<% }else {%> 
  <section class="container ">
    <h2 class="mt-5">Your cart is empty.</h2>
  </section>
<% } %>
<script src="/costom/javascript/cart.js"></script>