 <style>
  .show-coupon-main {
    background-color: #973131;
    width: 100%;
    height: 300px;
    max-width: 450px;
    border: 1px solid black;
    overflow-y: scroll;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: 2rem;
    border-radius: 20px;
  }
  .show-coupons{
    background-color: #fff;;
    color: black;
    margin-top: 8px;
    padding: 0.8rem;
    
  }
  
  .show-coupons p{
    margin-bottom: 13px;
    line-height: 20px;
    font-size: 20px;
  }
  .address-list{
    background-color: #f8f9fa;
  }
  .addresshref{
    margin: 1rem 1rem;
    text-align: right;
    color: rgb(17, 90, 226);
    float: right;
  }
  .addresshref:hover{
    color: rgb(190, 36, 36);
    
  }
  .address{
    background-color: #fff;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    color: black;
  }
  .addressiddiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #addressid{
    transform: scale(2);
    
  }
  .btnnone{
    border: none;
    background-color: white;
    color : rgb(34, 33, 33);
    font-size: small;
  }
  .btnnone:hover,
  #addressid:hover{
    cursor: pointer;
  }
  .addresscontent p{
    line-height: 14px;
  }
 </style>
 <!--================Checkout Area =================-->
 <section class="checkout_area section_padding">
  <div class="container">
    
    <div class="cupon_area">
      <div class="check_title">
        <h2>
          Have a coupon?
          <a href="#">Click here to enter your code</a>
        </h2>
      </div>
      <input type="text" placeholder="Enter coupon code" id="search_coupon"/>
      <button class="tp_btn" onclick="applyCoupon()">Apply Coupon</a>
      
    </div>
    <% if(coupons.length > 0) {%> 
    <div class="show-coupon-main " >
        
        <% coupons.forEach(item=> {%> 
        <div class="show-coupons">
          <p>
            <span>Coupon code :  </span><%= item.coupon_code %>
             <button class="btnnone" onclick="copyToClipboard('<%= item.coupon_code%>')">copy</button>
            <div>
            <% if(item.valid_till) {%> 
            <span>Valid till : </span><%= item.valid_till.toLocaleDateString() %>
            <% }%>
          </div> 
           
          </p>
          <p><%= item.description %> </p>
        </div>
        <% }) %>
        
    </div>
    <% } else {%> 
          <p>No coupons available to show you</p>
      <% } %> 
    <div class="">
      
      <div class="row ">
        <div class="col-8 sm:col-12 address-list">
        <div class="row">
         <a href="/user/add-address" class="addresshref">  <span style="color: black;">Shipping to new address ?</span>Add new address</a>
        </div>
        <% if(addresses.length > 0) {%>
        <% addresses.forEach(item=> {%>
        <div class="row address">
          <div class="col-2 addressiddiv">
            <input type="radio" name="addressid" value="<%= item._id%>" id="addressid" onclick="radioButtonClick(event)">
          </div>
          <div class="col 10 addresscontent">
         
            <p><%= item.recipient_name %></p>
            <p><%= item.street_address_line1 %> , <%= item.street_address_line2 %> </p>
            <p><%= item.city %> , <%= item.mobile %>, <%= item.postal_code %></p>

          </div>
          <div class="addressiddiv">
            <button class="genric-btn danger" onclick="removeAddress('<%= item._id%>')">Remove Address</button>
          </div>
        </div>
        <% }) %>
        <% }else { %>
          <div>
            <h5>No addresses created!</h5>
          </div>
        <% } %>
      </div>
        <div class="col-lg-4">
          <div class="order_box" id="place-order-div">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#">Product
                  <span>Total</span>
                </a>
              </li>
              <% products.forEach(item=> {%> 
              
              <li>
                <a href="#"><%= item.productid.product_name %>
                  <span class="middle"><%= item.quantity%></span>
                  <% if(item.productid.discount_in_percentage !== 0) {%> 
                  <span class="last"><%= (item.productid.price * item.productid.discount_in_percentage / 100) * item.quantity %></span>
                    <% } else { %>
                      <span class="last"><%= item.productid.price * item.quantity%></span>
                      <% } %>
                </a>
              </li>
              
             <% }) %>
            </ul>
            <ul class="list list_2">
              
              
              <li>
                <a href="#">Shipping Charge
                  <span id="shipping_charge">Rs.<%= shipping_charge %></span>
                </a>
              </li>
              <li>
                <a href="#">Total Discount
                  <span>Rs.<%= totaldiscount %></span>
                </a>
              </li>
              <li>
                <a href="#">Coupon Discount
                  <span id="coupon_discount">Rs.<%= coupon_discount %></span>
                </a>
              </li>
              <li>
                <a href="#">Grand Total
                  <span id="totalprice">Rs.<%= totalprice %></span>
                </a>
              </li>
            </ul>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio"  value="wallet" 
                 onclick="radioPaymentMethodClick(event)" name="selector" id="f-option5"/>
                <label for="f-option5">Wallet</label><span>Rs.<%= wallet %></span>
                <div class="check"></div>
              </div>
              <div class="radion_btn">
                <input type="radio"  value="Stripe" 
                 onclick="radioPaymentMethodClick(event)" name="selector" id="f-option7"/>
                 <label for="f-option7">Stripe</label>
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option6" 
                onclick="radioPaymentMethodClick(event)"
                value="Razorpay" name="selector" />
                <label for="f-option6">Razorpay</label>
                <img src="img/product/single-product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
             
            </div>
            
    
            <button class="genric-btn info" onclick="placeOrder()" id="place-order">Place order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
<!-- Replace the "test" client-id value with your client-id -->
<script src="https://www.paypal.com/sdk/js?client-id=AWXbFeiN5HvrUFkMFcnHyi6ShfHRsMNu1eFVUCHxEYmKHK8FJA8GhsJsKq3WDI4qV3sPWozeu-rdBApg&currency=INR"></script>
<script src="/costom/javascript/paypal.js"></script>

<script src="/costom/javascript/address.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  let addressId;
  let payment_method = ""
  let walletbalance = '<%= wallet%>'
  let totalprice = '<%= totalprice%>'
  walletbalance = parseInt(walletbalance)
  totalprice = parseInt(totalprice)
    
  
</script>
<script src="/costom/javascript/checkout.js"></script>
