<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/charts-lines.js" defer></script>
    <script src="/admin/assets/js/charts-pie.js" defer></script>
  </head>

  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/user/profilesidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
        <%- include('../../partials/user/profileHeader.ejs') %>
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <div class="account-section">
              <div class="edituseraccount">
                <h2>Edit Account Information</h2>
                <button class="btn" onclick="openModal('edit-username')">
                  Edit Username
                </button>
                <button class="btn" onclick="openModal('edit-email')">
                  Edit Email
                </button>
                <button class="btn" onclick="openModal('edit-password')">
                  Change Password
                </button>
              </div>

              <!-- Modals -->
              <div id="edit-username" class="model-div hidden">
                <h2>Edit Username and Mobile</h2>
                <form
                  id="edit-username-form"
                  onsubmit="handleSubmitCredentils(this, '<%= user._id%>')"
                >
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      id="username"
                      value="<%= user.username %>"
                      name="username"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input
                      type="text"
                      id="mobile"
                      value="<%= user.mobile %>"
                      name="mobile"
                      required
                    />
                  </div>
                  <button type="submit" class="btn">Save Changes</button>
                  <button
                    type="button"
                    class="btn close-btn"
                    onclick="closeModal('edit-username')"
                  >
                    Cancel
                  </button>
                </form>
              </div>

              <div id="edit-email" class="model-div hidden">
                <h2>Edit Email</h2>
                <form id="edit-email-form" onsubmit="handleChangeEmail()">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      value="<%= user.email %>"
                      name="email"
                      required
                    />
                  </div>
                  <div class="form-group hidden" id="otp-group">
                    <label for="otp">Please enter OTP</label>
                    <input type="text" name="otp" id="otp" />
                  </div>
                  <button
                    type="button"
                    id="otpbtn"
                    class="btn hidden"
                    onclick="handleSubmitOTP()"
                  >
                    Submit OTP
                  </button>
                  <button type="submit" id="emailbtn" class="btn">
                    Change Email
                  </button>
                  <button
                    type="button"
                    class="btn close-btn"
                    onclick="closeModal('edit-email')"
                  >
                    Cancel
                  </button>
                </form>
              </div>

              <div id="edit-password" class="model-div hidden">
                <h2>Change Password</h2>
                <form id="edit-password-form" onsubmit="changePassword(this)">
                  <div class="form-group">
                    <label for="current_password"
                      >Current Password
                      <span style="color: red; font-size: larger"
                        >*</span
                      ></label
                    >
                    <input
                      type="password"
                      id="current_password"
                      name="current_password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="new_password"
                      >New Password
                      <span style="color: red; font-size: larger"
                        >*</span
                      ></label
                    >
                    <input
                      type="password"
                      id="new_password"
                      name="new_password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="confirm_password"
                      >Confirm Password
                      <span style="color: red; font-size: larger"
                        >*</span
                      ></label
                    >
                    <input
                      type="password"
                      id="confirm_new_password"
                      name="confirm_new_password"
                      required
                    />
                  </div>
                  <button type="submit" class="btn">Change Password</button>
                  <button
                    type="button"
                    class="btn close-btn"
                    onclick="closeModal('edit-password')"
                  >
                    Cancel
                  </button>
                </form>
              </div>
            </div>

            <div id="overlay" class="overlay hidden"></div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

<script class="/costom/javascript/edituserinfo.js"></script>
