<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    
    <style>
      .product-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 3rem;
        border-radius: 5px;
        width: 100%;
      }

      .product-image {
        width: 200px;
        height: 200px;
        margin-right: 20px;
      }
      .mrg-b-10 {
        margin-bottom: 100px !important;
      }
      .mar-2 {
        margin-bottom: 1rem !important;
      }
      .product-image img {
        max-width: 100%;
        max-height: 100%;
      }

      .product-details {
        flex: 1;
      }

      .product-details p {
        line-height: 18px;
      }

      .price,
      .quantity {
        font-weight: bold;
        margin-top: 5px;
      }
      @media only screen and (max-width: 600px) {
        .product-item {
          display: block;
        }
      }
    </style>
    <script src="/admin/assets/js/charts-lines.js" defer></script>
    <script src="/admin/assets/js/charts-pie.js" defer></script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/user/profilesidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
        <%- include('../../partials/user/profileHeader.ejs') %>
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="product-item">
                <div class="product-image">
                  <img
                    src="/products/images/<%= returnedproduct.productid.images[0] %>"
                    alt="Product Image"
                  />
                </div>
                <div class="product-details">
                  <p><%= returnedproduct.productid.brand %></p>
                  <p><%= returnedproduct.productid.product_name %></p>
                  <p class="price">
                    Rs. <%= returnedproduct.quantity * returnedproduct.productid.price %>
                  </p>
                  <p class="quantity">Refund To : <span><%= returnedproduct.refundTo%></span></p>
                  <p class="quantity">Quantity returned: <%= returnedproduct.quantity %></p>
                  <div class="mt-2">
                    <h5>Return Status</h5>
                    <button class="genric-btn primary mt-2"><%=returnedproduct.returnStatus%></button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
