<style>
  .checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
  }

  .checkbox-item input[type="checkbox"]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
  }

  .checkbox-item input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checkbox-item label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
</style>
<section class="product_list section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="product_sidebar">
          
          <form onsubmit="handleFilter('filter')">
            <div class="single_sedebar">
              <h4 class="mb-30">Gender</h4>
              <div class="default-select" id="default-select">
                <select name="gender">
                  <option value="" id="selectgender">Select</option>
                  <option value="All">All</option>
                  <option value="Mens">Mens</option>
                  <option value="Womens">Womens</option>
                </select>
              </div>
            </div>
            <div class="single_sedebar">
              <h4>Brand</h4>
              <div class="checkbox-group">
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="tissot"
                    name="brand"
                    value="TISSOT"
                  />
                  <label for="vehicle1">Tissot</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="fossil"
                    name="brand"
                    value="FOSSIL"
                  />
                  <label for="fossil">Fossil</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="rolex"
                    name="brand"
                    value="ROLEX"
                  />
                  <label for="rolex">Rolex</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="armani-exchage"
                    name="brand"
                    value="ARMANI EXCHANGE"
                  />
                  <label for="armani-exchange">Armani Exchage</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="guess"
                    name="brand"
                    value="GUESS"
                  />
                  <label for="guess">Guess</label>
                </div>
                <div class="checkbox-item">
                  <input type="checkbox" id="boat" name="brand" value="BOAT" />
                  <label for="boat">Boat</label>
                </div>
              </div>
            </div>
            <div class="single_sedebar">
              <h4>Type</h4>
              <div class="checkbox-group">
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="analog"
                    name="type"
                    value="Analog"
                  />
                  <label for="">Analog</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="analog-digital"
                    name="type"
                    value="Analog-Digital"
                  />
                  <label for="">Analog-Digital</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="digital"
                    name="type"
                    value="Digital"
                  />
                  <label for="">Digital</label>
                </div>
                <div class="checkbox-item">
                  <input
                    type="checkbox"
                    id="ybrid-smart-watch"
                    name="type"
                    value="Hybrid Smart Watch"
                  />
                  <label for="">Hybrid Smart Watch</label>
                </div>
              </div>
            </div>
            <button type="submit" class="genric-btn info">Apply filters</button>
            <button
              type="button"
              class="genric-btn danger"
              onclick="clearFilter()"
              style="display: block; margin-top: 10px"
            >
              Clear filters
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <% if(products.length> 0) {%> <% if(products.length==10) { %>
        <div class="row">
          <p>
            showing <%= currentpage * products.length%> out of <%= totalproduct
            %>
          </p>
        </div>
        <%} else {%>
        <div class="row">
          <p>showing <%= totalproduct%> out of <%= totalproduct %></p>
        </div>
        <% } %>
        <div class="product_list">
          <div class="row">
            <% products.forEach(item=> {%>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="single_product_item">
                <a href="/product/<%= item._id%>">
                  <img
                    src="/products/images/<%= item.images[0]%>"
                    alt=""
                    class="img-fuid productimageshop"
                  />
                </a>
                <h3><%= item.brand%></h3>
                <h3><%= item.gender %></h3>
                <div class="price">
                  <ul>
                    <% if(item.discount_in_percentage) {%> 
                      <li class="ft-0">Rs.<%= Math.round(item.price - (item.price * item.discount_in_percentage / 100)) %> MRP Rs.
                          <span class="mrp"><%= item.price%></span><span class="discount">(<%= item.discount_in_percentage%>% OFF)</span>
                      </li>
                      <% }else {%>
                      <li class="ft-0">Rs. <%= item.price%></li>    
                      <% } %>
                  </ul>
                </div>
                <% if(item.stock_available !== 0) {%>
                <button
                  class="genric-btn primary-border circle"
                  onclick="addToCart(event,'<%= item._id%>')"
                >
                  Add to Cart
                </button>
                <button
                  class="genric-btn primary-border circle mt-2"
                  onclick="addToWishlist(event,'<%= item._id%>')"
                >
                  Add to Wishlist
                </button>
                <% } else {%>
                  <button class="genric-btn danger circle">Out of stock</button>
                <% } %>
              </div>
            </div>
            <% }) %>
          </div>
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <button
                  class="page-link"
                  id="previouspage"
                  onclick="handlePreviouPage(event)"
                >
                  Previous
                </button>
              </li>
              <% for(let i=1 ; i <=totalpages; i++) {%> <% if(currentpage===i)
              {%>
              <li class="page-item active">
                <button disabled class="page-link"><%= i %></button>
              </li>
              <% } else {%>
              <li class="page-item">
                <button class="page-link" onclick="gotoNextPage(event)">
                  <%= i %>
                </button>
              </li>
              <% } %> <% } %>
              <li class="page-item">
                <button
                  class="page-link"
                  id="nextpagebutton"
                  onclick="handleNextPage(event)"
                >
                  Next
                </button>
              </li>
            </ul>
          </nav>
          <% } else {%>
          <div>
            <h2>No products found for your filter</h2>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list part end-->


<!-- Shop Method Start-->
<div class="shop-method-area section-padding30">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-method mb-40">
          <i class="ti-package"></i>
          <h6>Free Shipping Method</h6>
          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-method mb-40">
          <i class="ti-unlock"></i>
          <h6>Secure Payment System</h6>
          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-method mb-40">
          <i class="ti-reload"></i>
          <h6>Secure Payment System</h6>
          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Method End-->


<script src="/costom/javascript/cart.js"></script>
<script src="/costom/javascript/shop.js"></script>
<script>
  const urls = new URL(window.location.href);
  let currentPage = "<%= currentpage %>" || 1;
  let totalpages = "<%= totalpages%>";

  
</script>
