
<style>
 



#product-info {
    display: flex;
    width: 90%;
    margin: 0 auto
}

.item-image-parent {
    order: 1;
    width: 70%;
    display: flex;
}

.item-info-parent {
    padding-top: 4rem;
    order: 2;
    width: 50%;
}

.item-list-vertical {
    order: 1;
    width: 20%;
    overflow-y: auto;
    margin-top: 50px;
}

.item-image-main {
    order: 2;
    width: 90%;
    margin-top: 60px;
}

/* sectioning completed */


.thumb-box {
    width: 75%;
    margin: 10px auto;
    background: white;
    border: 1px solid gray;
}
.thumb-box img {
    width: 100%;
    height: 100%;
}

.item-image-main img {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/12;
}

.thumb-box:hover {
    cursor: pointer;
    border-color: #e77600;;
    box-shadow: 0px 1px 5px 1px #e77600;
}

/* Item Info */
.main-info h4{
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 400
}

.star-rating {
    width: 70%;
    color: gray;
    font-size: 24px;
    border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
}


.commentdiv{
    margin-bottom: 1rem;
    border: 1px solid black;
    padding: 3rem;
}
.main-info p ,
.price li{
    font-size: 20px;
    color: gray;
    
}
.main-info h2,
.commentdiv p,
.commentdiv h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
#price {
    
    color: rgb(168, 14, 14);
    font-size: 21px;
}

/* Select Items */

.change-color {
    margin-bottom: 10px;
}
.rating{
    display: flex;

    padding: 0px 15px;
    gap: 10px;
    margin: 0px 15px;
}

.star{
    cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}
.star:hover,
.star:hover ~ .star,
.star.selected {
  color: #ffcc00;
}
.rating > span.active {
  color: gold;
}
.change-color .thumb-box{
    margin: 10px 10px 10px 0;
    width: 40px;
    display: inline-block;
}

.change-size select {
    padding: 5px 10px;
    border-radius: 4px;
    border-color: rgb(189, 189, 189);
    margin-top: 10px;
}

.description p,
.commentdiv p {
    padding-left: 17px;
    font-size: 20px;
    line-height: 1.3rem;
}
.commentsection{
    margin-top: 2rem;
    padding: 3rem 4.3rem;
}
.commenthead{
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
}
.commenthead img{
    max-width: 25px;
    border-radius: 50%;
}
.rate-area {
	float: left;
	border-style: none;
}

/* component */
#commentform {
    display: block;
}
.star-rating {

  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  text-align:center;
  margin-left: 1rem;
  width:5em;
  margin-right: 1rem;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

/* explanation */

article {
  background-color:#ffe;
  box-shadow:0 0 1em 1px rgba(0,0,0,.25);
  color:#006;
  font-family:cursive;
  font-style:italic;
  margin:4em;
  max-width:30em;
  padding:2em;
}

.rating {
    display: flex;
    background-color: #26a541;
    color: white;
    margin: 0rem 10px 0rem 0rem;
    border-radius: 8px;
    gap: 2px;
    width: fit-content;
    font-size: 1.1rem;
}
.discount{
    color: red;
    
}
.commentheadcontent{
    display: flex;
    flex-direction: column;
    line-height: 10px;
}
.commentheadcontent span {
    font-size: 0.8rem;
}
.mrp{
    text-decoration: line-through;
}
@media only screen and (max-width: 900px) {
    #product-info{
        display: block;
        padding: 0px 20px;
    }
    .item-image-parent {
    order: 1;
    width: 100%;
    display: flex;
}
    
    .item-info-parent{
        display: grid;
        place-items: center;   
    }
    .rating {
        font-size: 0.8rem;
        
    }
    .item-info-parent {
    padding-top: 4rem;
    order: 1;
    width: 100%;
}
}


</style>
<div class="viewproductdiv">


<section id="product-info">

  <div class="item-image-parent">
      <div class="item-list-vertical">
        <% product.images.forEach(item=> {%> 
          <div class="thumb-box">
              <img src="/products/images/<%= item %>" onmouseover="handleImage(event, '<%= item%>')" alt="thumbnail" />
          </div>
         <% }) %>

      </div>
      <div class="item-image-main">
          <img src="/products/images/<%= product.images[0] %>" alt="default" id="mainimg"/>
      </div>
  </div>

  <div class="item-info-parent">
      <!-- main info -->
      <div class="main-info">
          <h2><%= product.product_name%></h2>
          <h2><%= product.brand %></h2>
          
          <div class="price">
            <ul>
                <% if(product.discount_in_percentage) {%> 
                <li >Rs.<%= Math.round(product.price - (product.price * product.discount_in_percentage / 100)) %> MRP Rs.
                    <span class="mrp"><%= product.price%></span><span class="discount">(<%= product.discount_in_percentage%>% OFF)</span>
                </li>
                <% }else {%>
                <li>Rs. <%= product.price%></li>    
                <% } %>
                <li>
                    <span class="rating"><%= rating %><span v-for="n in max">&starf;</span>
                    </span> 
                Rating & <span class="mx-2"><%= totalcomments%> </span> Reviews
                </li>
                                
                  
            </ul>
        </div>
        <div>
            <p>Gender : <%= product.gender %></p>
         
            <p class="ft-0">Return policy : 
                 <% if(product.returnable === true) {%> 
            <span class="ft-0">
                <%= returndays%> days return policy
            </span class="text-danger ft-0" >
            <% }else { %> 
            <span>The item is not returnable</span>
          <% } %>
        </p>
         
        </div>
          
      </div>
      <!-- Choose -->
      <div class="select-items">
          <p><%= product.description %></p>
          <% if(product.stock_available !== 0) {%>
            <button
              class="genric-btn primary-border circle"
              onclick="addToCart(event,'<%= product._id%>')"
            >
              Add to Cart
            </button>
            <button
              class="genric-btn primary-border circle mt-2"
              onclick="addToWishlist(event,'<%= product._id%>')"
            >
              Add to Wishlist
            </button>
            <% } else {%>
              <button class="genric-btn danger circle">Out of stock</button>
            <% } %>
          
      </div>
      <!-- Description -->
  
</section>
<section class="commentsection">
    <h2>Comments</h2>
    
    <div class="row">
    <div >
        <% if(comments.length > 0) {%> 
        <div class="">
            
            <% comments.forEach(comment=> {%> 
            <div
                class="min-w-0 p-1 bg-white rounded-lg shadow-xs dark:bg-gray-800 mb-2"
              > <div class="commenthead">
                <img class="" style="width: 25px; height: 25px;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&usqp=CAU" alt="image">
                <div class="commentheadcontent">
                <h6 class="mb-2 font-semibold text-gray-600 dark:text-gray-300">
                 <%= comment.userid.username%>
                </h6>
                <span><%= comment.createdAt.toLocaleString()%></span>
                </div>
                
              </div>
               <% if(comment.rating !== 0) {%> 
                <div style="display: flex;">
                    <span class="rating"><%= comment.rating %><span class="ml-1" v-for="n in max">&starf;</span></span> Rating
                </div>
                <% }%> 
                <p class="text-gray-600 dark:text-gray-400"><%= comment.comment%></p>
              </div>                    
            <% })%>
            
            
        </div>
        <% } else {%>
        <h5 class="ml-3 mt-2">No reiviews yet. Please login and be the first one to review this product</h4>
        <% } %>
        <% if(username && role === "user" && product) {%>
        <div class="">
                <h4>Leave a Review.</h4>
                <form class="row contact_form" id="commentform" onsubmit="handleReviewandRating(event)">
                    <%- include('../../partials/message/messages.ejs') %>  
                   
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                      </div>
                    
                    <div class="col-md-12 col-lg-12 form-group ">
                        <textarea name="comment" id="comment" cols="50" rows="6" ></textarea>
                    </div>
                    <div id="commentdiv" class="col-md-12 form-group">
                   
                        <button type="submit" id="commentbtn" class="btn_3">
                            Submit
                        </button>
                        
                    </div>
                </form>
            </div>
            <% } %>
    </div>
</section>
</div>
<script src="/costom/javascript/cart.js"></script>
<script src="/costom/javascript/viewproduct.js"></script>
<script>
    let value = ""
    const productid  = "<%= product._id %>"
    
</script>