<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <style>
      #edit-product-image-container{
        display: flex;
      }
      #edit-product-image-view {
        width: 120px;
        object-fit: contain;
        margin-right: 5px;
        aspect-ratio: 1/1;
      }
      #textareaedit {
        height: 200px !important;
        width: 100% !important;
      }
      .styleform {
        display: grid;
        place-items: center;
        padding: 3rem 0rem;
      }
      
      @media only screen and (max-width: 400px) {
        #edit-product-image-view {
          display: block;
          margin-bottom: 5px;
        }
        #edit-product-image-view {
        width: 50px;
        object-fit: contain;
        margin-right: 5px;
        aspect-ratio: 1/1;
      }
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/charts-lines.js" defer></script>
    <script src="/admin/assets/js/charts-pie.js" defer></script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/admin/adminasidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
        <%- include('../../partials/admin/adminHeader.ejs') %>
        <main class="h-full pb-16 mt-8 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <div class="styleform">
              <div>
                <a
                  href="/admin/products/"
                  class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                >
                  Back
                </a>
              </div>

              <form
                id="formElement"
                class="col-md-6 col-sm-12"
                onsubmit="handleSubmit(this, '<%= product._id%>')"
              >
                <div class="row">
                  <div class="col-12">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Name
                        <span style="color: red; font-size: larger"
                          >*</span
                        ></span
                      >
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        style="color: gray"
                        type="text"
                        value="<%= product.product_name%>"
                        name="product_name"
                        id="product_name"
                      />
                    </label>

                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Brand<span style="color: red; font-size: larger"
                          >*
                        </span>
                      </span>
                    </label>
                    <select
                      name="brand"
                      id="brand"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      <option value="<%= product.brand %>">
                        <%= product.brand %>
                      </option>
                      <option value="ROLEX">Rolex</option>
                      <option value="FOSSIL">Fossil</option>
                      <option value="TISSOT">Tissot</option>
                      <option value="BOAT">Boat</option>
                      <option value="GUESS">Guess</option>
                      <option value="ARMANI EXCHANGE">Armani Exchange</option>
                    </select>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Type<span style="color: red; font-size: larger"
                          >*
                        </span>
                      </span>
                    </label>
                    <select
                      name="type"
                      id="type"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      <option value="<%= product.type%>">
                        <%= product.type%>
                      </option>
                      <option value="Analog">Analog</option>
                      <option value="Analog-Digital">Analog-Digital</option>
                      <option value="Digital">Digital</option>
                      <option value="Hybrid Smart Watch">
                        Hybrid Smart Watch
                      </option>
                    </select>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Price<span style="color: red; font-size: larger"
                          >*
                        </span></span
                      >
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        type="number"
                        name="price"
                        value="<%= product.price %>"
                        id="price"
                        style="color: gray"
                      />
                    </label>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Discount in percentage</span
                      >
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        type="number"
                        name="discount_in_percentage"
                        id="discount"
                        value="<%= product.discount%>"
                        style="color: gray"
                      />
                    </label>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Stock Available
                      </span>
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        type="number"
                        name="stock_available"
                        value="<%= product.stock_available%>"
                        id="stock_available"
                        style="color: gray"
                      />
                    </label>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Active or Inactive<span
                          style="color: red; font-size: larger"
                          >*
                        </span>
                      </span>
                    </label>
                    <select
                      name="isBlocked"
                      id="isBlocked"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      <option value="<%= product.isActive %>">
                        <%= product.isActive %>
                      </option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Gender<span style="color: red; font-size: larger"
                          >*
                        </span>
                      </span>
                    </label>
                    <select
                      name="gender"
                      id="gender"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      <option value="<%= product.gender %>">
                        <%= product.gender %>
                      </option>
                      <option value="Mens">Mens</option>
                      <option value="Womens">Womens</option>
                      <option value="All">All</option>
                    </select>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Description<span style="color: red; font-size: larger"
                          >*
                        </span>
                      </span>

                      <textarea
                        name="description"
                        id="description"
                        style="width: 100%"
                        rows="6"
                        placeholder="Enter some long form content."
                      ><%= product.description %></textarea>
                    </label>
                    <div id="edit-product-image-container" class="mb-3">
                      <% product.images.forEach((filename)=> { %>
                      <img
                        src="/products/images/<%= filename %>"
                        alt="product image"
                        id="edit-product-image-view"
                      />
                      <% }) %>
                    </div>
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400"
                        >Upload Image<span style="color: red; font-size: larger"
                          >*</span
                        ></span
                      >
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        type="file"
                        name="files"
                        id="files"
                        multiple
                        onchange="viewImage(event)"
                        style="color: gray"
                      />
                    </label>
                  </div>
                </div>
                <div class="block buttondiv row">
                  <button
                    id="submitbutton"
                    type="submit"
                    class="px-5 py-3 text-center font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  >
                    Update product
                  </button>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
<script src="/costom/javascript/admin/editproduct.js"></script>
