<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <style>
      .filterdate {
        display: flex;
        gap: 10px;
      }
      .costomdatediv {
        display: flex;
        gap: 10px;
      }
      #costomdateform {
        display: none;
      }
      #costomdatebtn {
        margin-left: 10px;
        padding: 1.5rem 0rem 0rem 0rem;
      }
      @media only screen and (max-width: 600px) {
        .costomdatediv {
          flex-direction: column;
        }
        .filterdate {
          flex-direction: column;
        }
        #costomdateform {
          flex-direction: column;
        }
        #costomdatebtn {
          padding: 0rem 0rem;
        }
      }
    </style>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/admin/adminasidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
        <%- include('../../partials/admin/adminHeader.ejs') %>
        <main class="h-full pb-16 mt-8 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Total Orders
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%= totalorders %>
                  </p>
                </div>
              </div>

              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Pending Orders
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%= pendingorders %>
                  </p>
                </div>
              </div>
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Success Orders
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%= successorders %>
                  </p>
                </div>
              </div>
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Failed Orders
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%= failedorders %>
                  </p>
                </div>
              </div>
            </div>

            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              Orders
            </h4>
            <div class="text-gray-900 dark:text-gray-400 flex items-center mb-2">Filter by : </div>
            <div class="flex flex-wrap sm:flex-row">
            <div class="filterdate mb-2 ml-2">
              <div class="">
                
                <select
                  onchange="handleDateFilter(event)"
                  name="status"
                  class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                >
                  <% datefilteres.forEach(item=> {%>
                  <option value="<%= item.value%>"><%= item.label %></option>
                  <% }) %>
                </select>
              </div>

              <form
                action=""
                id="costomdateform"
                onsubmit="handleCustomDateFilter(this)"
              >
                <div class="costomdatediv">
                  <label class="block text-sm">
                   
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      type="date"
                      name="start_date"
                      id="start_date"
                      placeholder="Start Date"
                      oninput="validateInput(this)"
                      style="color: gray"
                    />
                    <span
                      id="valid_till_warning"
                      class="txt-sm text-danger"
                    ></span>
                  </label>
                  <label class="block text-sm">
                    
                    <input
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      type="date"
                      name="end_date"
                      id="end_date"
                      placeholder="End Date"
                      oninput="validateInput(this)"
                      style="color: gray"
                    />
                    <span
                      id="valid_till_warning"
                      class="txt-sm text-danger"
                    ></span>
                  </label>
                </div>
                <div class="ml-2 mt-1">
                  <button
                    type="submit"
                    class="px-4 py-2 w-full text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  >
                    Filter
                  </button>
                </div>
              </form>
            </div>
            <div class="ml-2">
              <form action="">
              <div>
                
                <select
                  onchange="paymentMethodFilter(event)"
                  name="payment_method"
                  class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                >
                  
                  <option value="">Select payment method</option>
                  <option value="Razorpay">Razorpay</option>
                  <option value="Wallet">Wallet</option>
                  <option value="Stripe">Stripe</option>
                </select>
              </div>
            </form>
            </div>
            <div class="ml-2">
              
              <div>
                
                <select
                  onchange="orderStatusFilter(event)"
                  name="order_status"
                  class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                >
                  
                  <option value="">Select order status</option>
                  <% orderStatus.forEach(item=> {%>
                    <option value="<%= item%>"><%= item%></option>
                  <% }) %>
                  
                </select>
              </div>
            </div>
            <% if(Object.keys(queryParams).length > 1)  {%> 
            <div class="ml-2 mt-1" >
              <button
              type="button"
              onclick="clearFilter()"
              class="px-4 py-2 w-full text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
            >
              Clear
            </button>
            </div>
            <% } %>
          </div>
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto" id="tablediv">
                <% if(orders.length > 0) {%>
                <table class="w-full whitespace-no-wrap" id="ordertable">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">Date</th>
                      <th class="px-4 py-3">Customer</th>
                      <th class="px-4 py-3">Amount</th>
                      <th class="px-4 py-3">Items</th>
                      <th class="px-4 py-3">Paymnet method</th>
                      <th class="px-4 py-3">Status</th>
                      <th class="px-4 py-3" colspan="3">Action</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <% orders.forEach((order, index)=> {%>
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <%= order.createdAt.toDateString() %>
                      </td>
                      <td class="px-4 py-3"><%= order.userId.username %></td>
                      <td class="px-4 py-3"><%= order.totalPrice %></td>
                      <td class="px-4 py-3"><%= order.products.length %></td>
                      <td class="px-4 py-3"><%= order.payment_method %></td>
                      <td class="px-4 py-3 text-xs">
                        <% if(order.orderStatus === "Failed" ||
                        order.orderStatus === 'Pending') {%>
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600"
                        >
                          <%= order.orderStatus %>
                        </span>
                        <% } else if(order.orderStatus === "Placed" ||
                        order.orderStatus === "Shipped" || order.orderStatus ===
                        "Delivered"){%>
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-white dark:bg-green-600"
                        >
                          <%= order.orderStatus %>
                        </span>
                        <% } else if(order.orderStatus === "Cancelled") {%>
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600"
                        >
                          <%= order.orderStatus %>
                        </span>
                        <% } %>
                      </td>

                      <td class="px-4 py-3">
                        <div class="flex items-center space-x-4 text-sm">
                          <select
                            onchange="handleOrderStatus(event, '<%= order._id%>')"
                            name="status"
                            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                          >
                            <option value="<%= order.orderStatus%>">
                              <%= order.orderStatus%>
                            </option>
                            <% orderStatus.forEach(item=> {%>
                            <option value="<%= item%>"><%= item%></option>
                            <% }) %>
                          </select>
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
                <% } else {%>
                <p>No orders were created.</p>
                <% } %>
              </div> 
            </div>
            <div class="">
              <nav aria-label="..." class="float-right" style="margin-right: 40px;">
                <ul class="pagination mt-5">
                  <% if(currentpage !== 1) {%> 
                  <li class="page-item">
                    <button class="page-link" tabindex="-1" onclick="handlePreviouPage('<%= currentpage - 1%>')">Previous</a>
                  </li>
                  <% } %>
                  <% for(let i=1 ; i <=totalpages; i++) {%> 
                    <% if(currentpage==i)
                  {%>
                  <li class="page-item active">
                    <button disabled class="page-link"><%= i %></button>
                  </li>
                  <% } else {%>
                  <li class="page-item">
                    <button class="page-link" onclick="gotoSpecifiedPage(event.target.textContent)">
                      <%= i %>
                    </button>
                  </li>
                  <% } %> <% } %>
                  <% if(currentpage < totalpages) {%> 
                  <li class="page-item">
                    <button
                      class="page-link"
                      id="nextpagebutton"
                      onclick="handleNextPage(event)"
                    >
                      Next
                    </button>
                  </li>
                  <% } %>
                </ul>
              </nav>

            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

<script src="/costom/javascript/admin/pagination.js"></script>
<script src="/costom/javascript/admin/orders.js"></script>

<script>
  let currentpage = "<%= currentpage %>" || 1;
  let totalpages = "<%= totalpages%>";

  
</script>