<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/charts-lines.js" defer></script>
    <script src="/admin/assets/js/charts-pie.js" defer></script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/admin/adminasidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
      <%- include('../../partials/admin/adminHeader.ejs') %>
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container grid px-6 mx-auto">
      
    <a href="/admin/products/add-product"
    class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  Add product
    </a>
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              
              <th class="px-4 py-3">Name</th>
                      <th class="px-4 py-3">Brand</th>
                      <th class="px-4 py-3">Total Rating</th>
                      <th class="px-4 py-3">Category</th>
                      <th class="px-4 py-3">Price</th>
                      <th class="px-4 py-3">Stock Available</th>
                      <th class="px-4 py-3">Product sold</th>
                      <th class="px-4 py-3">discount</th>
                      <th class="px-4 py-3">Active</th>
                      <th colspan="2" class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >
          <% products.forEach((product , index)=> {%>
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3 ">
                <div class="text-truncate" style="width: 100px;"><%= product.product_name %></div>
              </td>
              <td class="px-4 py-3"><%= product.brand %></td>
              <td class="px-4 py-3"><%= product.total_rating %></td>
              <td class="px-4 py-3"><%= product.type %></td>
              
              <td class="px-4 py-3 text-sm">Rs.<%= product.price %></td>
              <td class="px-4 py-3"><%= product.stock_available %></td>
              <td class="px-4 py-3"><%= product.product_sold %></td>
              <% if(product.discount_in_percentage) {%> 
              <td class="px-4 py-3"><%= product.discount_in_percentage %> %</td>
              <% } else{ %> 
              <td class="px-4 py-3"><%= product.discount_in_percentage %> </td>
              <% } %>
             
              <td class="px-4 py-3 text-xs">
                <span id="productisactive"
                  class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                >
                <%= product.isActive %>
                </span>
              </td>
              
              <td class="px-4 py-3">
                <div class="flex items-center space-x-4 text-sm">
                  <a href="/admin/products/edit/<%= product._id %>"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-label="Edit"
                  >
                    <svg
                      class="w-5 h-5"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                      ></path>
                    </svg>
                  </a>
                  <button id="isActiveButton"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-label="Delete" onclick="productIsActive(event,'<%= product._id %>')"
                  >
                  <%= product.isActive ? "Inactive" : "Active"%>
                  </button>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
        </div>
      </main>
      </div>
    </div>
    
</body>
</html>

<script>
  
  function productIsActive (event, productid) {
    const isActiveButton = event.currentTarget
    let content = isActiveButton.textContent
    
    console.log(content)
    fetch(`/admin/products/edit-product-active/${productid}`, 
    {method: 'POST',
    headers:{'Content-Type':'application/json'},
    body: JSON.stringify({isActive: content})
  })
    .then(response=> response.json())
    .then(data=> {
      if (data) {
        const row = isActiveButton.closest('tr');
        const activeTd = row.getElementsByTagName('td')[8]; // Index of the 'Active' td
        const activeSpan = activeTd.getElementsByTagName('span')[0];
        if(data.isActive) {
          activeSpan.textContent = 'true' 

        isActiveButton.innerHTML = 'Inactive' 

        }else{
          activeSpan.textContent = 'false' 

        isActiveButton.innerHTML = 'Active' 
        }
        
      }
    })
    .catch(err=> {
      console.log(err)
    })
  }
</script>
