<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"
    />
    
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/admin/adminasidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
        <%- include('../../partials/admin/adminHeader.ejs') %>
        <main class="h-full pb-16 mt-8 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-6">
                  <div
                    class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
                  >
                    <div>
                      <p
                        class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                      >
                        Total products by Brand
                      </p>
                      <% productcount.forEach(item=> {%>
                      <p class="text-sm font-medium text-gray-700 dark:text-gray-200">
                        <%= item._id %> : <%= item.totalproduct %>
                        <span>products</span>
                      </p>
                      <% }) %>
                    </div>
                  </div>
                </div>
                <div
                  class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4"
                ></div>
                <div>
                  <a
                  href="/admin/products/add-product"
                    class="flex items-center ml-auto mb-2 justify-between w-40 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    style="width: 250px; text-decoration: none;"
                  >
                    Create Product
                    <span class="ml-2" aria-hidden="true">+</span>
                </a>
                  </div>
                <div
                  class="relative w-full px-10 focus-within:text-purple-500"
                >
                <form action="/admin/products/" method="get">
                  <div class="absolute inset-y-0 flex items-center pl-2">
                    <svg
                      class="w-4 h-4"
                      aria-hidden="true"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                    type="search"
                    name="q"
                    placeholder="Search for product names , brands , categories"
                    aria-label="Search"
                  />
                </form>
                </div>
                <div class="font-medium text-black ml-2">Filter by: </div>
                <div class="flex flex-wrap">
                  <form></form>
                  <div class="ml-2">
                
                    <select
                      onchange="handlePriceFilter(event)"
                      name="price"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      
                      <option value="" >Select price</option>
                      <option value="gt:2000000">price > 2000000/- </option>
                      <option value="lt:2000000">price < 2000000/-</option>
                      <option value="lt:1000000">price < 1000000/-</option>
                      <option value="lt:500000">price < 500000/-</option>
                    </select>
                  </div>
                  <div class="ml-2">
                
                    <select
                      onchange="handleProductIsActiveFilter(event)"
                      name="isActive"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      
                      <option value="">Select active or not</option>
                      <option value="Active">Active products</option>
                      <option value="Inactive">Inactive products</option>
                      
                    </select>
                  </div>
                  <div class="ml-2">
                
                    <select
                      onchange="handleStockAvailableFilter(event)"
                      name="stock_available"
                      class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    >
                      
                      <option value="">Select stock available</option>
                      <option value="lt:5">stock < 5</option>
                      <option value="lt:10">stock < 10</option>
                      <option value="gt:10">stock > 10</option>
                    </select>
                  </div>
                  <% if(Object.keys(queryParams).length > 1)  {%> 
                    <div class="ml-2 mt-1" >
                      <button
                      type="button"
                      onclick="clearFilter()"
                      class="px-4 py-2 w-full text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
                    >
                      Clear
                    </button>
                    </div>
                    <% } %>
                </div>
                <table id="example" class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">Name</th>
                      <th class="px-4 py-3">Brand</th>
                      <th class="px-4 py-3">Total Rating</th>
                      <th class="px-4 py-3">Category</th>
                      <th class="px-4 py-3">Price</th>
                      <th class="px-4 py-3">Stock Available</th>
                      <th class="px-4 py-3">Product sold</th>
                      <th class="px-4 py-3">is Returnable</th>
                      <th class="px-4 py-3">discount</th>
                      <th class="px-4 py-3">Active</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <% products.forEach((product , index)=> {%>
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="text-truncate" style="width: 100px">
                          <%= product.product_name %>
                        </div>
                      </td>
                      <td class="px-4 py-3"><%= product.brand %></td>
                      <% if(product.total_rating !== "0") {%>
                      <td class="px-4 py-3"><%= product.total_rating %></td>
                      <% } else {%>
                      <td class="px-4 py-3">--</td>
                      <% } %>
                      <td class="px-4 py-3"><%= product.type %></td>

                      <td class="px-4 py-3 text-sm">Rs.<%= product.price %></td>
                      <% if(product.stock_available <= 5) {%>
                      <td class="px-4 py-3 text-danger">
                        <%= product.stock_available %>
                      </td>
                      <% }else{ %>
                      <td class="px-4 py-3"><%= product.stock_available %></td>
                      <% } %>
                      <td class="px-4 py-3"><%= product.product_sold %></td>
                      <td class="px-4 py-3">
                        <span
                          id="productisactive"
                          style="cursor: pointer"
                          onclick="productIsReturnable(event, '<%= product._id%>')"
                          class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                          ><%= product.returnable %></span
                        >
                      </td>
                      <% if(product.discount_in_percentage !== 0 &&
                      product.discount_in_percentage !== null) {%>
                      <td class="px-4 py-3">
                        <%= product.discount_in_percentage %> %
                      </td>
                      <% } else{ %>
                      <td class="px-4 py-3">--</td>
                      <% } %>

                      <td class="px-4 py-3 text-xs " style="cursor: pointer;">
                        <span
                          id="productisactive"
                          class="px-2 hover:cursor-pointer py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                        >
                          <%= product.isActive %>
                        </span>
                      </td>

                      <td class="px-4 py-3">
                        <div class="flex items-center space-x-4 text-sm">
                          <a
                            href="/admin/products/edit/<%= product._id %>"
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Edit"
                          >
                            <svg
                              class="w-5 h-5"
                              aria-hidden="true"
                              fill="currentColor"
                              viewBox="0 0 20 20"
                            >
                              <path
                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                              ></path>
                            </svg>
                          </a>
                          <button
                            id="isActiveButton"
                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Delete"
                            onclick="productIsActive(event,'<%= product._id %>')"
                          >
                            <%= product.isActive ? "Inactive" : "Active"%>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="">
              <nav aria-label="..." class="float-right" style="margin-right: 40px;">
                <ul class="pagination mt-5">
                  <% if(currentpage !== 1 ||  products.length !== 0) {%> 
                  <li class="page-item">
                    <button class="page-link" tabindex="-1" onclick="handlePreviouPage('<%= currentpage - 1%>')">Previous</a>
                  </li>
                  <% } %>
                  <% for(let i=1 ; i <=totalpages; i++) {%> 
                    <% if(currentpage==i)
                  {%>
                  <li class="page-item active">
                    <button disabled class="page-link"><%= i %></button>
                  </li>
                  <% } else {%>
                  <li class="page-item">
                    <button class="page-link" onclick="gotoSpecifiedPage(event.target.textContent)">
                      <%= i %>
                    </button>
                  </li>
                  <% } %> <% } %>
                  <% if(currentpage < totalpages) {%> 
                  <li class="page-item">
                    <button
                      class="page-link"
                      id="nextpagebutton"
                      onclick="handleNextPage(event)"
                    >
                      Next
                    </button>
                  </li>
                  <% } %>
                </ul>
              </nav>

            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

<script src="/costom/javascript/admin/products.js"></script>
<script src="/costom/javascript/admin/pagination.js"></script>

<script>
  let currentpage = "<%= currentpage %>" || 1;
  let totalpages = "<%= totalpages%>";

  
</script>