<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windmill Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/admin/assets/css/tailwind.output.css" />
    <style>
        .product-image {
        
        width: 100px;
        height: 100px;
        margin-right: 20px;
      }

      .product-image img {
        max-width: 100%;
        max-height: 100%;
      }

      .product-details {
  max-width: 300px; /* Adjust this value as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
      .product-details p {
        line-height: 17px;
      }

    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer
    ></script>
    <script src="/admin/assets/js/charts-lines.js" defer></script>
    <script src="/admin/assets/js/charts-pie.js" defer></script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('../../partials/admin/adminasidebar.ejs') %>
      <div class="flex flex-col flex-1 w-full">
        <%- include('../../partials/admin/adminHeader.ejs') %>
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
             Order Returns
            </h4>
            
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto" id="tablediv">
                
                <table class="w-full whitespace-no-wrap" id="ordertable">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">Date</th>
                      <th class="px-4 py-3">Customer</th>
                      <th class="px-4 py-3">quantity</th>
                      <th class="px-4 py-3">Items</th>
                      <th class="px-4 py-3">Reason</th>
                      <th class="px-4 py-3">Refund To</th>
                      <th class="px-4 py-3">Return Status</th>
                      <th class="px-4 py-3" colspan="3">Action</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <% returns.forEach((item , index)=> {%>
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <%= item.createdAt.toLocaleString() %>
                      </td>
                      <td class="px-4 py-3"><%= item.userid.username %></td>
                      <td class="px-4 py-3"><%= item.quantity %></td>
                      <td class="px-4 py-3 product-details">
                        <div class="" >
                            <div class="product-image">
                                <img src="/products/images/<%= item.productid.images[0]%>" alt="product_image"
                                >
                            </div>
                            <p class="truncate ..." ><%= item.productid.product_name %></p>
                            <% if(item.productid.discount_in_percentage) {%> 
                                <p class="ft-0">Rs.<%= item.productid.price - (item.productid.price * item.productid.discount_in_percentage / 100) %> MRP Rs.
                                    <span class="mrp"><%= item.productid.price%></span><span class="discount">(<%= item.productid.discount_in_percentage%>% OFF)</span>
                                </p>
                                <% }else {%>
                                <p class="ft-0">Rs. <%= item.productid.price%></p>    
                                <% } %>
                        </div>
                      </td>
                      <td class="px-4 py-3"><%= item.returnReason%></td>
                      <td class="px-4 py-3"><%= item.refundTo%></td>
                      <td class="px-4 py-3 text-xs">
                        
                        <span
                          class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-white dark:bg-green-600"
                        >
                          <%= item.returnStatus %>
                        </span>
                        
                      </td>

                      <td class="px-4 py-3">
                        <div class="flex items-center space-x-4 text-sm">
                          <select 
                            onchange="handleReturnStatus(event, '<%= item._id%>')"
                            name="status"
                            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                          >
                            <option value="<%= item.returnStatus%>">
                              <%= item.returnStatus%>
                            </option>
                            <% returnStatus.forEach(item=> {%> 
                            <option value="<%=item%>"><%= item%></option>
                            <% }) %>

                          </select>

                         
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>

<script src="/costom/javascript/admin/returns.js"></script>
